---
Checks:          'clang-diagnostic-*,clang-analyzer-*,google-*,modernize-*,readability-*,performance-*,-modernize-use-trailing-return-type'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle:     file
...
