---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 120
SortIncludes: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
PointerAlignment: Right
ReferenceAlignment: Right
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Attach
...
